svg{
    width: 24px;
    height: 24px;
}

.textNode{
    display: flex;
    gap: 4px;
    padding: 8px;
    border: 2px solid purple; 
    width: fit-content;
    border-radius: 4px;
}

.layerContent{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textContent{
    display: flex;
    gap: 4px;
}

.item{
    padding: 0px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.options{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    border-radius: 4px;
    border: 1px solid #CECFD2;
    background: #F7F7F7;
}

.optionButtons{
    display: flex;
    padding: 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.optionButtons button{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #2DAAE0;
    color: #0671E6;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
}