// @collapse
@import "./Variables.scss";

@mixin pb_gradient($direction: to right) {
  background: linear-gradient($direction, #2daae0, #0085ff, #0066fe);
}

@mixin linterFilters {
  display: flex;
  scrollbar-width: none;
  overflow-x: auto;
  padding: map-get($spacing, 100);
  align-items: center;
  align-self: stretch;
  gap: map-get($spacing, 100);
  border-bottom: 1px solid theme-color($light-theme, utility, border_primary);
}

.linterFilters {
  @include linterFilters;
}
@mixin stylesHeading {
  padding: map-get($spacing, 100);
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, 50);
  // align-items: center;
  align-self: stretch;
  border-bottom: 1px solid theme-color($light-theme, utility, border_primary);

  p {
    font-size: 12px;
    color: theme-color($light-theme, text, secondary);
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -2%;
    line-height: 100%;
    font-family: "Inter";
  }
}

@mixin stylesCategories {
  justify-content: space-between;
  display: flex;
}
.stylesHeading {
  @include stylesHeading();
}

.stylesCategories {
  @include stylesCategories();
}
@mixin linter_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: map-get($spacing, 50);
  padding: map-get($spacing, 50);
  color: black;
  background-color: theme-color($light-theme, surfaces, primary);
  border: 1px solid theme-color($light-theme, utility, border_primary);
  border-radius: map-get($radius, 4);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: theme-color($light-theme, surfaces, secondary);
  }
}
.linter_button {
  @include linter_button;
}

@mixin active_linter_button {
  color: white;
  background: linear-gradient(#2daae0, #0085ff, #0066fe);
  border: 1px solid linear-gradient(#2daae0, #0085ff, #0066fe);
}

.active_linter_button {
  @include active_linter_button;
}

@mixin swatch {
  width: 32px;
  height: 32px;
  display: inline-flex;
  padding: map-get($spacing, 0);
  justify-content: center;
  align-items: center;
  gap: map-get($spacing, 0);
  border-radius: map-get($radius, 4);
  border: 1px solid theme-color($light-theme, utility, border_primary);
  background: theme-color($light-theme, surfaces, primary);
}
.swatch {
  @include swatch;
}

@mixin textInfo {
  display: flex;
  padding: map-get($spacing, 0);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: map-get($spacing, 50);
}

.textInfo {
  @include textInfo;
}
@mixin tag {
  display: flex;
  padding: map-get($spacing, 25) map-get($spacing, 50);
  justify-content: center;
  align-items: center;
  background-color: theme-color($light-theme, surfaces, secondary);
  border-radius: map-get($radius, 4);
}
.tag {
  @include tag;
}
@mixin primaryIssueText {
  color: theme-color($light-theme, text, primary);
  font-family: "Recursive", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}
.primaryIssueText {
  @include primaryIssueText;
}
@mixin secondaryIssueText {
  color: theme-color($light-theme, text, secondary);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}
.secondaryIssueText {
  @include secondaryIssueText;
}
@mixin affectedLayersContainer {
  display: inline-flex;
  padding: map-get($spacing, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.affectedLayersContainer {
  @include affectedLayersContainer;
}

@mixin affectedLayersLabel {
  color: theme-color($light-theme, text, tertiary);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25; /* 15px */
}

.affectedLayersLabel {
  @include affectedLayersLabel;
}
@mixin affectedLayersList {
  display: flex;
  width: 100%;
  padding: map-get($spacing, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: map-get($spacing, 0);
  border-radius: map-get($radius, 4);
  border: 1px solid theme-color($light-theme, utility, border_primary);
  overflow: hidden;
}
.affectedLayersList {
  @include affectedLayersList;
}

@mixin affectedLayersItem {
  display: flex;
  padding: map-get($spacing, 50) map-get($spacing, 100);
  flex-direction: column;
  align-items: flex-start;
  gap: map-get($spacing, 0);
  align-self: stretch;
  color: theme-color($light-theme, text, primary);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 15px */

  &.active {
    background: theme-color($light-theme, surfaces, status);
  }
}
.affectedLayersItem {
  @include affectedLayersItem;
}
.affectedLayersItem:hover {
  cursor: pointer;
  background-color: theme-color($light-theme, surfaces, status);
}

@mixin results {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.results {
  @include results;
}
@mixin issueContainer {
  display: flex;
  padding: map-get($spacing, 100);
  align-items: flex-start;
  gap: map-get($spacing, 75);
  border-bottom: 0.5px solid theme-color($light-theme, utility, border_primary);
  background: theme-color($light-theme, surfaces, primary);
}
.issueContainer {
  @include issueContainer;
}

@mixin mainContent {
  display: flex;
  padding: map-get($spacing, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: map-get($spacing, 150);
  flex: 1 0 0;
}

.mainContent {
  @include mainContent;
}

@mixin rightContainer {
  display: flex;
  padding: map-get($spacing, 0);
  align-items: flex-start;
  gap: map-get($spacing, 50);
  align-self: stretch;
}
.rightContainer {
  @include rightContainer;
}

@mixin issueDropDown {
  display: flex;
  padding: map-get($spacing, 25) map-get($spacing, 50);
  justify-content: center;
  align-items: center;
  border-radius: map-get($radius, 16);
  gap: map-get($spacing, 25);
  background-color: theme-color($light-theme, surfaces, alert);
  p {
    color: theme-color($light-theme, text, alert);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
  }
}
.issueDropDown {
  @include issueDropDown;
}
.issueDropDown:hover {
  cursor: pointer;
}

@mixin messagingContainer {
  display: flex;
  height: 100%;
  padding: map-get($spacing, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: map-get($spacing, 100);
  flex: 1 0 0;
  align-self: stretch;

  p {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
}
.messagingContainer {
  @include messagingContainer();
}
@mixin messagingSVGContainer {
  display: flex;
  width: 100px;
  height: 100px;
  padding: map-get($spacing, 125);
  justify-content: center;
  align-items: center;
  gap: map-get($spacing, 0);
  border-radius: map-get($radius, circle);
}

@mixin loadingContainer {
  background-color: theme-color($light-theme, surfaces, status);
}

.loadingContainer {
  @include loadingContainer();
}
@mixin successContainer {
  background-color: theme-color($light-theme, surfaces, positive);
}

.successContainer {
  @include successContainer();
}
.messagingSVGContainer {
  @include messagingSVGContainer;
}

@mixin messagingSVG {
  width: 80px;
}

.messagingSVG {
  @include messagingSVG();
}
@mixin successGraphic {
  width: 40px;
}
.successGraphic {
  @include successGraphic;
}

@mixin successText {
  color: theme-color($light-theme, text, positive);
}
.successText {
  @include successText;
}

@mixin loadingText {
  color: map-get($pb_gradient, c);
}
.loadingText {
  @include loadingText;
}
@mixin footer {
  display: flex;
  padding: map-get($spacing, 50) map-get($spacing, 100);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid theme-color($light-theme, utility, border_primary);
  background: theme-color($light-theme, surfaces, primary);
  position: relative;
}

.footer {
  @include footer;
}

@mixin footer_issues {
  display: inline-flex;
  padding: map-get($spacing, 25) map-get($spacing, 50);
  align-items: center;
  gap: map-get($spacing, 50);
  background-color: theme-color($light-theme, surfaces, alert);
  border-radius: map-get($radius, 16);
  p {
    color: theme-color($light-theme, text, alert);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 15px */
  }
}

.footer_issues {
  @include footer_issues;
}

@mixin footer_no_errors {
  display: inline-flex;
  border-radius: map-get($radius, 16);

  padding: map-get($spacing, 25) map-get($spacing, 50);
  align-items: center;
  gap: map-get($spacing, 50);
  background-color: theme-color($light-theme, surfaces, positive);
  p {
    color: theme-color($light-theme, text, positive);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 15px */
  }
}
.footer_no_errors {
  @include footer_no_errors;
}

@mixin selectAllContainer {
  &:hover {
    cursor: pointer;
  }
}

.selectAllContainer {
  @include selectAllContainer;
}

@mixin rotatedIcon {
  transform: rotate(180deg);
}

.rotated {
  @include rotatedIcon();
}

.styleListItem {
  @include issueContainer();
  justify-content: space-between;
  align-items: center;
}

@mixin stylesBtn {
  display: inline-flex;
  width: 100%;
  padding: map-get($spacing, 75) map-get($spacing, 125);
  justify-content: center;
  align-items: center;
  gap: map-get($spacing, 25);

  border: 0;
  border-radius: map-get($radius, 4);
  background: linear-gradient(#2daae0, #0085ff, #0066fe);
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.stylesBtn {
  @include stylesBtn();
}

.deleteBtn {
  background: #d80a23;
}
@mixin inputElement {
  display: flex;
  gap: map-get($spacing, 25);
}

.inputElement {
  @include inputElement();
}

.editContainer {
  @include inputElement();

  p {
    color: black;
  }
}
