
.listItem{
    display: flex;
    padding: 8px;
    gap: 16px;
    border: 1px solid black;
    align-items: flex-start;
    background-color: white;
    width: 100%;
}
.swatch{
    display: flex;
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.content{
    display: block;
    width: 100%;
}

.issueContainer{
    display: flex;
    align-items: flex-start;
    /* flex-direction: column; */
    padding: 4px;
    /* justify-content: center; */
    align-self: stretch;
    gap: 16px;
    flex: 1 0 0;
}

.hexValue, .name, .spacingValue {
    font-weight: 700;
}

p{
    margin: 0;
}

.divider, .numIssues{
    color: gray;
}

.arrow{
    /* width: 100%; */
}
.selectAll:hover, .arrow:hover{
    cursor: pointer;
}

.expandedList{
    display:flex;
    gap: 32px;
    flex-direction: column;
}

.expandedListItem{
    color: gray;
}
.expandedListItem:hover{
    cursor: pointer;
}

.other{
    display: flex;
    width: 100%;
}

.infoContainer{
    display: flex; 
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

